@model IEnumerable<FinalWhistle.Models.Team>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_admin.cshtml";
}

<h1>@Html.ActionLink("Add","Add")</h1>

<table>
    <tr>
        <th>Team Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TeamName</td>
        </tr>
    }
</table>
